<div class="row" style="margin-top: 25px;">
  <ng-container *ngFor="let o of orders | async">
    <div class="col col-md-4 col-xm-12 col-sm-12" *ngIf="o.food.length > 0">
      <div class="col-md-12">
        <div class="card mb-1">
          <div class="card-header"
            [ngClass]="[o.deriveryDescription !== 'inplace' ? 'bg-danger text-light':'bg-dark text-light']">
            <div class="row align-middle text-nowrap">
              <div class="col col-md-4 text-left"><span class="h5">Order # {{ o.ticket }}</span></div>
              <div class="col col-md-4 text-center"><span class="h5">{{ o.deriveryDescription }}</span></div>
              <div class="col col-md-4 text-right"><span
                  class="h5">{{ o.orderDateTime.toDate() |date: 'HH:mm:ss' }}</span>
              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="table-responsive-sm" style="margin: 0;">
              <table class="table table-hover" style="width: 100%;">
                <thead class="thead-light">
                  <th class="text-center">ຈຳນວນ</th>
                  <th class="text-left">ອາຫານ</th>
                  <th class="text-left">ເພີ່ມເຕີມ</th>
                  <th class="text-center"></th>
                </thead>
                <tbody>
                  <tr *ngFor="let f of o.food" [ngClass]="{'table-success':f.done === true}">
                    <td class="text-center" [ngStyle]="{'border-left': !f.note? '':'3px solid #F5365C'}">
                      {{ f.quantity | number }}</td>
                    <td class="text-left text-nowrap">{{ f.food  }}</td>
                    <td class="text-left text-danger font-weight-bold">{{ f.note  }}</td>
                    <td class="text-center" *ngIf="f.done; else undone">
                      <img src="../../assets/icons/marks.png" style="max-width: 20px;">
                    </td>
                    <ng-template #undone>
                      <td>
                      </td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="!orderStatus">
  <div class="row text-center mt-4">
    <div class="col">
      <div class="display-4 text-secondary">
        ຍັງບໍ່ມີລາຍການສັ່ງອາຫານ
      </div>
    </div>
  </div>
</ng-container>
