<div class="row" style="margin-top: 25px;">
  <ng-container *ngFor="let o of orders | async">
    <div class="col col-md-4 col-xm-12 col-sm-12" *ngIf="o.food">
      <div class="col col-md-12">
        <div class="card mb-1" style="width: 100%;">
          <div class="card-header"
            [ngClass]="[o.deriveryDescription !== 'inplace' ? 'bg-danger text-light':'bg-dark text-light']">
            <div class="row align-middle text-nowrap">
              <div class="col col-md-4 text-left"><span class="h5">Order # {{ o.ticket }}</span></div>
              <div class="col col-md-4 text-center"><span class="h5">{{ o.deriveryDescription }}</span></div>
              <div class="col col-md-4 text-right"><span
                  class="h5">{{ o.orderDateTime.toDate() |date: 'HH:mm:ss' }}</span>
              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="row align-middle" *ngFor="let f of o.food">
              <div class="col col-md-1 col-sm-1 text-left align-middle h6 font-weight-bold">{{ f.quantity | number }}
              </div>
              <div class="col col-md-8 col-sm-7 text-left align-middle text-nowrap">{{ f.food  }}</div>
              <div class="col col-md-2 col-sm-1 text-left align-middle" style="min-width: 50px;"><span
                  class="text-danger font-weight-bold">{{ f.note  }}</span>
              </div>
              <div class="col col-md-1 col-sm-1  text-center align-middle" *ngIf="f.done; else undone">
                <img src="../../assets/icons/marks.png" style="max-width: 20px;">
              </div>

              <ng-template #undone>
                <div class="col col-md-1 col-sm-1 text-center align-middle">
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>





</div>
